.container {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #2C3E50;
}

.timer {
  font-size: 72px;
  color: #2C3E50;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  background-color: #2C3E50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

button:hover {
  opacity: .7;
}

#start {
  background-color: #27AE60;

}
#stop {
  background-color: #C0392B;
}
#reset {
  background-color: #7f8c8d;
}